@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Variable CSS */
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*=== Colores ===*/
:root {
  --first-color: #4070f4;
  --second-color: #0e2431;
}

:root {
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

.bd__title {
  text-align: center;
  font-size: var(--big-font-size);
  padding-top: 2rem;
  padding-bottom: 5rem;
  color: #000;
}

.bd__title-color {
  color: var(--first-color);
  font-size: var(--big-font-size);
}

.container {
  display: flex;
  height: auto;
  width: auto;
  border-radius: 10px;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: #fff;
}

.card {
  background-color: #1F232C;
  text-align: center;
  width: auto;
  height: auto;
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
}

img {
  width: auto;
  height: auto;
  text-align: center;
}

.card:hover {
  background-color: var(--first-color);
  transition-duration: 0.3s;
}


@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

.head {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #000;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}

html {
  background-color: #E5E8E8;
}

h1 {
  text-align: center !important;
  text-decoration: none;
  font-weight: bolder;
}

img {
  text-align: center;
}

h1,
p {
  font-family: var(--body-font);
  color: white;
  text-align: left;
}

header {
  background-color: #1F232C;
  border-radius: 10px;

}